.header {
    width: 100%;
    background-color: rgb(62, 158, 255);
    height: 6rem;
    box-shadow: 10px 5px 5px rgb(192, 196, 241);
    margin-top: -5rem;
    position: fixed;
    z-index: 2;
  }
  
  .header h1 {
    font-size: 3.6rem;
    font-family: "Dancing Script";
    color: aliceblue;
    padding: 1rem;
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%
  }

.back {
    float: left;
    margin-left: 2rem;
    z-index: 1; 
    background-color: transparent;
    color: aliceblue;
    box-shadow: none;
    border: none;
    position: relative;
    width: 10px;
    font-family: "Roboto mono";
    font-size: 1.2rem;
}



.back:hover {
    font-size: 1.3rem;
    
}

@media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 2.5rem;
    margin-top: .75rem;
  }

  
}

@media only screen and (max-width: 450px) {
  .header h1 {
    font-size: 2.1rem;
    margin-top: .75rem;
  }

  .back {
    font-size: 0.8;
    margin-left: 1rem;
  }
}